<div class="dashboard-container">
  <div class="company-selector">
    <label for="company">Choose Company</label>
    <select id="company" [(ngModel)]="selectedCompany">
      <option value="">-- Select a Company --</option>
      <option *ngFor="let company of companies" [value]="company">{{company}}</option>
    </select>
  </div>

  <div class="workspace-list-container">
    <div class="workspace-list">
      <div *ngFor="let workspace of workspaces" class="workspace-item">
        <div class="workspace-name">{{workspace.name}}</div>
        <div class="coupon-boxes">
          <div class="coupon-box redeemed">{{workspace.redeemedCoupons}}</div>
          <div class="coupon-box unredeemed">{{workspace.unredeemedCoupons}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="stats-container">
    <div class="total-stats">
      <div>Total coupons: {{totalCoupons}}</div>
      <div>Total redeemed coupons: {{totalRedeemed}}</div>
      <div>Total unredeemed coupons: {{totalUnredeemed}}</div>
    </div>

    <div class="legend">
      <div class="legend-item">
        <span class="legend-color redeemed"></span>
        <span>Redeemed</span>
      </div>
      <div class="legend-item">
        <span class="legend-color unredeemed"></span>
        <span>Unredeemed</span>
      </div>
    </div>
  </div>
</div>
