<div class="menu-container">
  <img src="/Logo.png" alt="PictureDrop Logo" class="logo" />
  <h1 class="title">Admin Panel</h1>
  <button class="logout-button" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
  </button>

  <div class="button-group">
    <button class="menu-button" routerLink="workspaces">
      <span>Workspaces</span>
      <i class="fas fa-desktop"></i>
    </button>
    <button class="menu-button" routerLink="coupons">
      <span>Coupons</span>
      <i class="fas fa-award"></i>
    </button>
    <button class="menu-button" routerLink="statistics">
      <span>Statistics</span>
      <i class="fas fa-chart-bar"></i>
    </button>
    <button class="menu-button" (click)="logout()">
      <span>Logout</span>
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</div>

<div class="mobile-nav">
  <button class="mobile-button" routerLink="workspaces">
    <i class="fas fa-desktop"></i>
    <span>Workspaces</span>
  </button>
  <button class="mobile-button" routerLink="coupons">
    <i class="fas fa-award"></i>
    <span>Coupons</span>
  </button>
  <button class="mobile-button" routerLink="statistics">
    <i class="fas fa-chart-bar"></i>
    <span>Statistics</span>
  </button>
</div>
