<div class="dashboard-container">

  <div class="options-selector">
      <div class="company-selector">
        <select id="company" [(ngModel)]="selectedCompany">
          <option value="" disabled selected>Choose Company</option>
          <option *ngFor="let company of companies" [value]="company">{{company}}</option>
        </select>
      </div>

      <div class="sub-selectors-container">
        <div class="sub-selector">
          <select>
            <option value="" disabled selected>each Workspace</option>
            <option>Workspace X</option>
          </select>
        </div>
        <div class="sub-selector">
          <select>
            <option value="" disabled selected>UploadType</option>
          </select>
        </div>
        <div class="sub-selector">
          <select>
            <option value="" disabled selected>Year</option>
          </select>
        </div>
      </div>
  </div>

  <div class="statistic-container">


  </div>
</div>
